/* General body settings */

body{
    background-color: #1e212f;
    background-repeat: repeat; 
    background-size: auto;
    background-image: url(../Photos/background.jpg); 
}

body::-webkit-scrollbar {
    width: 0px;
}


/* Custom button styles */

#custom-button{
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #b32323;
    border: solid 2px #b32323;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #ddd;
}

#custom-button:hover{
    color: #b32323;
    background-color: transparent;
    border-color: #b32323;
}


/* Custom font */

@font-face{
    font-family: 'myFirstFont';
    src: url(../font/MountainsofChristmas.ttf);
}


/* Booking ID style */

.B_ID{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 200px;
    color: #bbaab8;
    font-weight: bold;
    border: #4b1616 2px solid;
    background-color: #4b1616;
    border-radius: 15px;
    max-width: 380px;
    padding-left: 14px;
}


/* Headings */

h2{
    text-align: center;
    color: #bbaab8;
    font-family: 'myFirstFont';
    font-size: 50px;
}


/* Header styles */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #151822;
    border: solid #292643;
}
#logo{
    width: 20px 20px;
}


/* Navigation styles */

.header ul{
    display: inline;
    padding-top: 30px;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.header img{
     width: 20px 20px; 
}
.header li::before{
    content: "|";
    color:#bbaab8;
    padding-right: 35px;
    padding-left: 35px;
}
.header li:first-child::before{
    content: "";
    padding: 0;
}
.header li{
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}
.header a{
    color: #bbaab8;
}
.header a:hover{
    text-decoration: underline;
    color: #bbaab8;
    transition: all 0.3s ease; 
}


/* Navigation links */

nav ul li a{
    color: #bbaab8;
    text-decoration: none;
}
#logo{
    overflow-clip-margin: content-box;
    overflow: clip;
}
nav ul li a{
    text-decoration: none;
}


/* Go back button styles */

#goback{
    margin-left: 130px;
    margin-bottom: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #b32323;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #bbaab8;
    background-color: #b32323;
    border-color: #b32323;
}
#goback a{
    text-decoration: none;
    color: #bbaab8;
}
#goback a:hover{
    color: #b32323;
}
#goback:hover{
    border-color: #b32323;
    background-color: transparent;
}
#btnGoBack{
    margin-left: 20px;
    margin-top: 10px;
}

/* Table styles */

.table td{
    background-color: #bbaab851 ;
    padding: 30px 30px;
}
.table td:first-child {
    border-radius: 25px 0px 0px 25px;
}
.table td:last-child {
    border-radius: 0px 25px 25px 0px;
}
.table tr:hover {
    background-color: black;
    transition: all 0.6s ease;
    border: #bbaab8 solid 1px;   
}
.table tr:hover td{
    transition: all 0.6s ease;
    border-bottom: #bbaab8 solid 1px;
    border-top:#bbaab8 solid 1px ;
}


/* First row styles */

#erst{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
tr.border_bottom td {
    border-bottom: 1px solid black;
}


/* Table container */

.table{
    margin: auto;
    color: #ffffff51;
    border-spacing: 0 20px;
    font-size: 20px;
    font-weight: normal;
}

/* Future booking status */

tr[buchung-status="Zukünftig"]{
    background-color: #efbb6c;
    color: #372100;
}
tr[buchung-status="Zukünftig"]:hover{
    transition: all 0.1s ease;
    color: #bbaab8;
}


/* Active booking status */

tr[buchung-status="Aktiv"]{
    background-color: #0dc116c9;
    transition: all 0.6s ease;
    color: #ededed;
}

